<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Measurements</title>
    <link rel="stylesheet" href={{url_for('static', filename='style.css' )}}>
</head>

<body>
    <h1>Hello Plotly (but not Dash)</h1>

    <form method="post">
        <p>
            from
            <input type="text" name="start_date">
        </p>
        <p>
            to
            <input type="text" name="end_date">
        </p>
        <p>
            <button type="submit">Go</button>
        </p>
    {% if render_graph %}
    <div id='chart' class='chart' ”></div>
    {% endif %}
</body>
<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
<script type='text/javascript'>
    var graphs = {{ graph | safe}};
    Plotly.plot('chart', graphs, {});
</script>

</html>